body {
    overflow: hidden;
}

.login {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.945), rgb(250, 249, 249),#edeae4, #e1d4c0);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-container {
    padding: 100px;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0); */
    border-radius: 10px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px; */
}

.login-container > button {
    text-transform: inherit !important;
    margin-top: 25px;
    background-color: ivory;
    z-index: 999;
}

.login-container > h1 {
    position: relative;
    font-size: 150px;
    z-index: 999;
}

.login-container > p {
    position: relative;
    z-index: 999;
}

#sun {
    position: absolute;
    left: 550px;
    height: 1000px;
    width: 1400px; 
    opacity: 10%;
    top: 150px;
}

#model {
    position: absolute;
    height: 800px;
    top: 60px;
    left: 400px;
    opacity: 80%;
}

@media only screen and (max-width: 600px) {
    
  }