.main-page > div {
    background-color:white;
}

.day-list{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

.days {
    opacity: 20%;
    font-size: 20px;
}

.clothes-list {
    list-style-type: none;
}

#weather-icon {
    position: absolute;
    left: 550px;
    height: 1000px;
    width: 1400px; 
    opacity: 10%;
    top: 150px;
}