.day-list{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.clothes-list {
    list-style-type: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin: 25px;
}