.main-page > div {
    background-color:white;
}

.day-list{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clothes-list {
    list-style-type: none;
}

#weather-icon {
    width: 90px;
    height: 90px;
    margin: 25px;
}