/* .wardobe-page {
    background-color: black;
} */

.add-fit {
    bottom:0;
    width: 100%;
    text-align: center;
    padding-top: 45px;
}

#fit-pic {
    height: 300px;
    padding: 15px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fit-name {
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 20px;
}