.my-row {
    margin-bottom: 10px;
}

.fits {
    margin-top: 25px;
    height: 300px;
}

.add-fit {
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#fit-pic {
    height: 200px;
    width: 200px;

}