.my-container {
  display: flex; 
  flex-direction: column;
  align-content: flex-start;
}

#date {
  align-self: center;
}

li a {
  color: black;
}

.nav-links {
  z-index: 5;
  list-style-type: none;
  position: absolute;
  left: 0px;
  background-color:white;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0%);

}

.nav-links[fadein='1'] {
  animation: fadein 1s 1;
}

@keyframes fadein{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}