@font-face {
  font-family: apercu-bold;
  src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
}

@font-face {
  font-family: apercu-medium;
  src: url(./fonts/Apercu/Apercu\ Pro\ Medium.otf);
}

@font-face {
  font-family: apercu;
  src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
}

*{
    font-family: apercu;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

* > h1 {
  font-family: apercu-bold;
}

* > h2, h3 {
  font-family: apercu-medium;
}

.app {
  background-color: tomato;
}

/* .page-content {
  margin: 25px;
} */