@font-face {
  font-family: apercu-bold;
  src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
}

@font-face {
  font-family: apercu-medium;
  src: url(./fonts/Apercu/Apercu\ Pro\ Medium.otf);
}

@font-face {
  font-family: apercu;
  src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
}

@font-face {
  font-family: rais;
  src: url(./fonts/Raisonne/Raisonne.otf);
}

*{
    font-family: apercu;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.default-bck {
  /* background-color: #EDEAE4;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;  */
  
}

* > h1 {
  font-family: apercu-bold;
  color: #28282a;
}

* > h2, h3 {
  font-family: apercu-medium;
  color: #28282a;
}

* > h5, p, button {
  color: #28282a;
  font-family: rais;
}
